* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #f8f9fa;
  width: 320px;
  height: 370px;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #444;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.2s;
}

input:focus {
  border-color: #333;
  outline: none;
}

button {
  padding: 0.6rem;
  border-radius: 8px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #222;
}

.collections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.collection {
  background: white;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 0.7rem;
}

.collection p {
  flex: 1;
  margin: 0;
  font-weight: 600;
  font-size: 0.64rem;
}

.collection button {
  padding: 0.24rem 0.5rem;
  font-size: 0.6rem;
  border-radius: 5px;
  border: 1.5px solid;
  cursor: pointer;
  background: transparent;
  transition: background-color 0.2s, color 0.2s;
  min-width: 70px;
  margin-left: 0.5rem;
}

/* Style for Open button */
.collection button:first-of-type {
  border-color: #333;
  color: #333;
}

.collection button:first-of-type:hover {
  background-color: #333;
  color: #fff;
}

/* Style for Delete button */
.collection button:last-of-type {
  border-color: #e63946;
  color: #e63946;
}

.collection button:last-of-type:hover {
  background-color: #e63946;
  color: #fff;
}

#errMsg {
  color: red;
  font-size: 0.74rem;
  font-style: italic;
}
